.user_profile{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #eeeeee;
    padding: 3%;
}



.user_profile h2{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.user_profile .user_details{
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
}

.user_profile .user_details .user_box{
    width: 350px;
    height:200px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.user_profile .user_details .user_box .item{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 7px 0px;
}

.user_profile .user_details .user_box .item .name{
    width: 80px;

}
.user_profile .user_details .user_box .logout_btn{
    background-color: #9155fd;
    color: #fff;
    width:100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-radius: 4px;
}

.user_profile .user_details .user_address {
     flex-grow: 1;
    position: relative;
   
}

.user_details .user_address .address_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 15px;
    position: relative;
}

.user_details .user_address .address_grid .address_card{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}


.address_grid .address_card button{
    background-color: #9155fd;
    width:100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    float: right;
}

.address_card .user_name{
    font-weight: 500;
    font-size: 17px;
}


.address_card .email{
    font-weight: 500;
    color: #9155fd;
}

.address_card .name{
    font-weight: 500;
    color: #575757;
    margin: 3px 0px;
}

.address_card .state_city{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5px 0px;
}

.address_card .state_city .city{
    font-weight: 500;
    color: #575757;
}



/* Orders */

.orders{
    width: 100%;
    height: auto;
    position: relative;
    gap: 50px;
}

.orders .order{
    width: 70%;
    height: auto;
    position: relative;
}
.orders .order .order_card{
    width: 100%;
    height: 100px;
    background-color:#fff ;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.orders .order_price{
    flex-grow:1 ;
    background-color: #fff;
    border-radius: 4px;
    height: 300px;
}