.cart_items{
 background-color: #fff;
 border-radius: 3px;
 box-shadow: rgba(0,0,0,0.090) 0px 0px 5px 0px;
 padding: 10px;
 cursor: pointer;
 transition: 0.5s ease;
}

.cart_items:hover{
    box-shadow: rgba(0,0,0,0.090) 0px 0px 15px 0px;

}
