.products_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
    position: relative;
    margin: 15px 0px;
}

.products_grid .product_card{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.090) 0px 0px 5px 0px;
    padding: 6px;
}

.products_grid .product_card .poster{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: #f8f8f8;
    border-radius: 3px;

}


.products_grid .product_card .product_info{
    width: 100%;
    height: auto;
    position: relative;
   transition: 0.5s linear;
   padding: 10px 0px;
   background-color: #fff;
}

.products_grid .product_card .product_info .brand{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    color: #585859;
}

 .product_info  .title{
    font-size: 17px;
    font-weight: 500;
    color: #333;
    margin: 2px 0px 6px 0px;
}

 .product_info .price_box .discounted_price {
       font-weight: 500;
       color: #333;
       font-size: 22px;
}

.product_info .price_box .price {
    color: #585859;
    font-weight: 500;
    font-size: 14px;
}

.product_info .price_box .discount{
    color: teal;
    font-size: 14px;
}

.product_info .rating_stock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1%;
    margin-top: 10px;
}

.product_info .rating_stock .rating{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 15px;
    background-color: #6506a8;
    color: #fff;
    padding: 1px 5px;
    border-radius: 3px;
}

.product_info .rating_stock .stock{
    font-size: 14px;
    background-color: #6506a81c;
    padding: 0px 5px;
  border-radius: 2px;
}
.products_grid .product_card:hover .product_info{
    transform: translateY(-15px);
}




/* Carousel_Card Grid */

.carousel{
    width: 100%;
}
.products_carousel_grid{
    width: 100%;
    position: relative;
    padding: 20px ;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.products_carousel_grid .product_carousel_card{
    width:240px;
    height: auto;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.090) 0px 0px 5px 0px;
    padding: 6px;
}

.products_carousel_grid .product_carousel_card .poster{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: #f8f8f8;
    border-radius: 3px;

}


.products_carousel_grid .product_carousel_card .product_carousel_info{
    width: 100%;
    height: auto;
    position: relative;
   transition: 0.5s linear;
   padding: 10px 0px;
   background-color: #fff;
}

.product_carousel_card .product_carousel_info .brand{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    color: #585859;
}

.product_carousel_card .product_carousel_info  .title{
    font-size: 17px;
    font-weight: 500;
    color: #333;
    margin: 2px 0px 6px 0px;
}

 .product_carousel_info .price_carousel_box .discounted_price {
       font-weight: 500;
       color: #333;
       font-size: 22px;
}

.product_carousel_info .price_carousel_box .price_box .price {
    color: #585859;
    font-weight: 500;
    font-size: 14px;
}

.product_carousel_info .price_carousel_box  .price_box .discount{
    color: teal;
    font-size: 14px;
}

.product_carousel_info   .rating_carousel_stock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1%;
    margin-top: 10px;
}

 .rating_carousel_stock .rating{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 15px;
    background-color: #6506a8;
    color: #fff;
    padding: 1px 5px;
    border-radius: 3px;
}

  .rating_carousel_stock .stock{
    font-size: 14px;
    background-color: #6506a81c;
    padding: 0px 5px;
  border-radius: 2px;
}
.products_carousel_grid .product_carousel_card:hover .product_carousel_info{
    transform: translateY(-15px);
}