@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost',sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.z-index{
    z-index: 999;
}

.logo_name{
    font-weight: 600;
    font-size: 22px;
    color: #2c2830;
}

.home_section{
    width: 100%;
    height: auto;
    position: relative;
}

.heading{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}